@import url("https://fonts.googleapis.com/css?family=Sriracha");
@import url("https://fonts.googleapis.com/css?family=Londrina+Shadow");

body {

  font-family: 'Sriracha', sans-serif

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.uk-navbar{
  font-family: 'Sriracha', sans-serif
}
.uk-logo{
  font-family: 'Londrina Shadow', sans-serif
}
.footer {
  z-index: 10;
}
.post-image {
  width: 100%;
}
.loading {
  width: 10%;
}
.upload-image {
  position: fixed;
  z-index: 100;
  top:0;
  left:0;
width:100%;
height: 100%;
object-fit: cover;
}
.comment-container {
  display: grid;
  grid-template-columns: 20px 10px auto 10px 20px;
  grid-template-rows: 40% auto;
}
.comment-image {
  grid-column-start: 1;
  grid-column-end: 2;
}
.comment-content {
  grid-column-start: 3;
  grid-column-end: 4;
}
.comment-like {
  grid-column-start: 5;
  grid-column-end: 6;
}
